/*************************
*******Typography******
**************************/

body {
  font-family: 'Roboto', sans-serif;
  position: relative;
  font-weight:400;
}
 
h1, h2, h3, h4, h5, h6 {
  font-family: 'Roboto', sans-serif;
}

img{
  max-width: 100%;
}



